vmmd
kdump6
dyld.thin
tmp/**
main
.DS_Store
magic.dylib

data/cydia/**
data/ssh/**
data/dyldmagic_amfid/magic64_amfid.dylib
data/dyldmagic/magic.dylib
data/dyldmagic/main
data/dyldmagic/symbols.h
data/dyldmagic/untether.h

data/untether/amfistop64
data/untether/untether64

data/that_guy/that_guy
xcuserdata
*.o
